.fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.toolbar-header {
  height: 60px;
}

.toolbar-footer {
  height: 30px;
}

.editor-textfield {
  height: calc(100vh - 90px) !important;
}

.CodeMirror-vscrollbar, .CodeMirror-scroll, .CodeMirror{
    height: calc(100vh - 90px) !important;
}

.window {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

/**Numbered Textarea**/

div.numberedtextarea-wrapper {
  position: relative;
}
div.numberedtextarea-wrapper textarea {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div.numberedtextarea-line-numbers {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
div.numberedtextarea-number {
  padding-right: 6px;
  text-align: right;
}
