.fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.toolbar-header {
  height: 60px;
}

.toolbar-footer {
  height: 30px;
}

.editor-textfield {
  height: calc(100vh - 90px);
}

.window {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
